{% extends "base.html" %}

{% block content %}
<h1>Works log</h1>
<a class="btn btn-secondary" href="/add_job">Add job</a>
{% for item in jobs%}
<div class="table">
    <h3>Action #{{loop.index}}</h3>
    <table>
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List collaborators</th>
            <th>Is finished</th>
        </tr>
        <tr>
            <td>{{item.activity}}</td>
            <td>{{users[item.team_leader - 1].surname}} {{users[item.team_leader - 1].name}}</td>
            <td>{{item.work_size}} hours</td>
            <td>{{item.collaborators}}</td>
            {% if item.is_finished == 1 %}
            <td>Is finished</td>
            {% else %}
            <td>Is not finished</td>
            {% endif %}
        </tr>
    </table>
    {% if current_user.is_authenticated and (current_user.id == item.team_leader or current_user.position == "captain") %}
    <div>
        <a href="/jobs/{{ item.user_id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ item.user_id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}